/*
Colors:
   Light Grey: #b7b7b7
   Medium Grey: #545454
   Black: #0e0f0e
   Sage Green: #6c7b5d
   Light Blue: #5f7b82
   Dark Blue: #435054
*/
:root {
/* Colors */
  --light-grey: #b7b7b7;
  --medium-grey: #545454;
  --black: #0e0f0e;
  --sage-green: #6c7b5d;
  --light-blue: #5f7b82;
  --dark-blue: #435054;
/* Font Weight */
  --thick-weight: 500;
  --regular-weight: 400;
  --thin-weight: 300;
}

* {
  box-sizing: border-box;
}

/* Universal font and color styling */

h1 {
   font-family: 'Playfair Display', serif;
   font-weight: var(--thick-weight);
   font-size: 32px;
   line-height: normal;
   color: var(--black);
}

h2 {
   font-family: 'Playfair Display', serif;
   font-weight: var(--thick-weight);
   font-size: 24px;
   line-height: normal;
   color: var(--dark-blue);
}

h3 {
   font-family: 'Playfair Display', serif;
   font-weight: var(--regular-weight);
   font-size: 18px;
   line-height: normal;
   color: var(--sage-green);
}

body {
   background-color: #fff;
   font-family: 'Roboto', sans-serif;
   font-weight: var(--thin-weight);
   font-size: 16px;
   line-height: 1.6;
   color: var(--black)
}

a {
   color: var(--light-blue);
}

a:visited, a:active {
  opacity: 0.8;
}

a:hover, a:focus {
  text-decoration: none;
}

button:hover,
button:focus,
.home__cv-button:hover,
.home__cv-button:focus,
.button__secondary:hover,
.button__secondary:focus {
  cursor: pointer;
  opacity: 0.8;
}

button,
.home__cv-button,
.button__secondary,
input[type="submit"] {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--sage-green);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

/* Universal page settings */

.home-page, .about-page, .work-page, .contact-page {
   margin: 0 auto;
   padding: 20px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px 50px 0px;
  border-bottom: solid var(--light-grey) 1px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
   text-decoration: none;
}

.page-footer {
   clear: both;
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: flex-end;
   padding: 10px;
}

/* Home page */

.profile {
   width: 90%;
   min-width: 300px;
   max-width: 900px;
   height: auto;
   margin: 0 auto;
   padding-bottom: 50px;
}

.profile__portrait {
   float: left;
   width: 100%;
   max-width: 300px;
   margin-right: 40px;
   border-radius: 50%;
   padding: 10px;
}

.button__secondary {
  background-color: var(--dark-blue);
}

/* About page */

.about-page {
   text-align: center;
   width: 70%;
   margin: 0 auto;
}

.about-text {
   max-width: 1000px;
   margin: 0 auto;
   padding-bottom: 50px;
}

.about__sf-image {
   max-width: 800px;
   margin: 0 auto;
   padding: 10px;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.freepik-link {
   font-size: 12px;
   font-style: italic;
   margin: 0 auto;
   justify-content: center;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 10px);
  }
  to {
    transform: translate(100px, 10px);
  }
}

.cloud {
  animation: 28s cloud-move infinite alternate linear;
}

@keyframes waves-move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 5px);
  }
}

.waves {
  animation: 2s waves-move infinite alternate linear;
}

@keyframes birds-move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-130px, -130px);
  }
}

.birds {
  animation: 14s birds-move;
}

/* Contact page */

.contact-page {
   text-align: center;
}

.contact-info {
   padding: 10px;
}

#contact-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;
   max-width: 400px;
   padding: 20px;
}

#contact__button {
  border: none;
  font-family: inherit;
  background-color: var(--sage-green);
  color: white;
  text-decoration: none;
  padding: 10px;
  width: 200px;
  margin: 0 auto;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

#contact-message {
   height: 100px;
}

#contact-message, #contact-email, #contact-phone {
   border: solid var(--light-grey) 1px;
   border-radius: 5px;
}

/* Work page */

.work-page {
   margin: 0 auto;
   width: 90%;
   text-align: center;
}

.projects-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

.projects-grid__item {
	width: auto;
	min-height: auto;
	margin: 0;
   padding: 20px;
   text-align: left;
   border: solid black 1px;
}

/* Responsive page settings */

@media (max-width: 550.98px) {
   .profile__portrait {
      float: none;
      max-width: 250px;
      margin: 0;
   }
   .profile {
      text-align: center;
      flex-direction: column;
      padding-bottom: 0;
   }
   .projects-grid {
		grid-template-columns: 1fr;
	}
   .about__sf-image {
      width: 95%;
      padding-top: 0;
      font-size: 12px;
   }
 }

 @media (min-width: 551px) and (max-width: 991.98px) {
    .projects-grid {
 		grid-template-columns: 1fr 1fr;
 	}
 }

@media (min-width: 551px) and (max-width: 789.98px) {
   .profile__portrait {
      max-width: 220px;
      margin-top: 20px;
      margin-bottom: 110px;
   }
}

 @media (max-width: 790px) {
   .page-header {
      flex-direction: column;
      align-items: center;
   }
   .page-header__item {
      flex: none;
   }
   .page-header__item:last-child {
      flex-grow: unset;
      text-align: center;
   }
   .navigation-list {
      margin: 0 0 1.5rem 0;
      padding: 0;
   }
   .navigation-list li:first-child {
      margin-left: 0;
   }
   h1 {
      font-size: 28px;
   }
}
